html{
	width: 1925px;
	margin: 0;
	padding: 0;
}
body{
	width: 1925px;
	text-align: center;
	margin: 0 auto;
	justify-content: center;
	z-index: 10;
	font-family:'Gotham Pro';
	padding: 0;
}
.container{
	width: 1925px;
	margin: 0;
	padding: 0;
	
}

a{
    color: white;
    text-decoration: none;
}
.container2{
	width: 1925px;
	margin: 0;
	padding-left: 79px;
    padding-right: 100px
	
}
.container3{

    width: 1925px;
    padding: 0;
    margin-left: 100px;
    margin-right: 100px;
}
header .logo{
	float: left;
	margin-left: 100px;

} 
header .logo2{
	float: left;
	margin-left: 100px;

}
header{
	width: 1925px;
	height: 1000px;
}

header .logo img{
	padding-top: 14px;
	height: 24px;

}
header .logo2 img{
	padding-top: 11px;
	height: 24px;

}
header nav li a{
	text-decoration: none; /* Убираем подчеркивание у ссылок */
	font-family:'Gotham Pro';
	color: #FFF;
    margin-right: 15px;
        padding-top: 38px;
}

.info-contact p{
    margin-top: -15px;
    font-size: 16px;
    margin-bottom: 20px;
    
}
.bottom{
    padding-top: 6px;
    margin-bottom: 118px;
}
.requisites{
    margin-top: 152px;
}
.requisites p{
    font-size: 15px;
    padding-bottom: 7px;
}
.contact-email{
       padding-top: 4px;
    padding-bottom: 10px;
}
.header-w1000-white nav li a{
	text-decoration: none; /* Убираем подчеркивание у ссылок */
	font-family:'Gotham Pro';
	color: #242424;
}
.header-w1000-white{
	width: 1925px;
	height: 73.8px;
}

.ul-service{
        list-style-type: none;
        margin-top: 11px;
    
}
.ul-service a{
    text-decoration: none;
    color: #242424;
}
.ul-service>li{
    text-align: left;
    margin-bottom: 11px;
}
.text-service{
    height: 730px;
    margin-bottom: 50px;
    margin-top: 27px;
    text-align: left
}
.last-li{
        padding-bottom: 30px
}
.info-vacancy{
    width: 840px;
    float: left;
    text-align: left;
}
.info-contact{
    width: 371px;
    float: left;
    text-align: left;
    font-size: 15px;
        margin-top: 69px;
    margin-right: 69px;
}
.info-girl{
    width: 560px;
    float: left;
    text-align: left;
    margin-right: 20px;
        margin-top: 64px;
}
.inf-girl{
        margin-bottom: 44px;
}
.data{
    font-size: 19px;
}
.adr{
    display: inline-block;
}
.menu-service{
    float: left;
        width: 340px;
    margin-right: 117px;
}
.info-service{
    width: 1280px;
    float: left;
    margin-bottom: -2px;
    margin-top: 13px;
}
.photo-girl{
    width: 1140px;
    height: 918px;
    float: left;
    margin-bottom: 65px;
        margin-top: 16px;
}
.info-girl>span, .text-service>span{
    color:#bd985c;
    font-weight: bold;
}
.text-service>p{
    width: 1150px;
    margin-bottom: 33px;

}
.hour-price{
    margin-top: 3px;
    margin-bottom: 30px;
    color: #242424;
    font-weight: bold;
}
.param{
    display: inline-block;
}
.bottom{
    margin-bottom: 160px;
}
.map{
    width: 1285px;
    height: 870px;
    float: left;
    margin-top: 23px;
    margin-bottom: 109px;
}
h2, h3{
   color: #bd985c;
}
h4{
    color: #bd985c;
    margin-top: 53;
    font-size: 16px;
}

header nav ul{
	margin-left: 24%;
}
footer nav ul{
	margin: 0 auto;
	display: inline-block;
}
.menu2 li{
   padding-right: 29px; 
}
header nav li,
footer nav li {
	padding-top: 10px;
	list-style-type: none; /* Убираем маркеры */
	float: left;
	padding-right: 45px;
}




.cnt_slider{
	margin: 0 auto;
	display: inline-block;
	width: 1725px;
        margin-bottom: 237px;
}
#sm_slider {
	height: 663px;
	position: relative;
	width: 1725px;
}
.sm_slider {
  height: 663px;
  margin: 25px 25px 0px;
  position: relative;
  width: 1725px;
}
.sm_slider ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.sm_slide {
  color: #3d3d3d;
  display: none;
  font-size: 100px;
  height: 663px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  visibility: hidden;
  width: 100%;
    padding-left: 0px;
}
.sm_slide.active {
  display: block;
  visibility: visible;
}
.sm_slide img {
  max-width: 100%;
}

.sm_prev,
.sm_next {
  width: 25px;
  height: 25px;
  margin: -20px 0 0 0;
  cursor: pointer;
  display: block;
  font-style: normal;
  opacity: .3;
  position: absolute;
  top: 50%;
  z-index: 999;
  border-style: solid;
  border-color: #4e4e4e;
  border-width: 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sm_prev {
  border-left-width: 3px;
  border-top-width: 3px;
  left: 10px;
}
.sm_prev:hover {
  opacity: 1;
}

.sm_next {
  border-right-width: 3px;
  border-bottom-width: 3px;
  right: 10px;
}
.sm_next:hover {
  opacity: 1;
}

.sm_nav {
  bottom: 0px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  padding: 5px 0px;
  position: absolute;
  right: 0px;
  z-index: 999;
}

.sm_nav-item {
  cursor: pointer;
  float: left;
  height: 14px;
  padding: 4px;
  width: 14px;
  z-index: 999;
  list-style-type: none;
  font-size: 11px;
  color: #ccc;
}
.sm_nav-item i {
  display: block;
  width: 6px;
  height: 6px;
  position: relative;
  top: 5px;
  left: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-color: #7f7f7f;
}
.sm_nav-item.active {
  cursor: default;
  color: #7e7e7e;
}
.sm_nav-item.active:hover {
  cursor: default;
  color: #7e7e7e;
}
.sm_nav-item.active i {
  background-color: #bfbfbf;
}
.sm_nav-item:hover i {
  background: #7f7f7f;
}
.sm_nav-item.active:hover i {
  background-color: #bfbfbf;
}




.active{
	border-bottom: 1px solid #cc9933;
    padding-bottom: 9px;
}

.clearfix:after{
  content: " ";
  display: table;
  clear: both;
}
.girls{
	padding-left: 100px;
	padding-right: 100px;
	height: 1274px;
	
}
.girl{
	float: left;
	width: 560px;
	height: 560px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.for-men{
    position: absolute;
    top: 2919px;
    left: 100px;
    font-size: 37px;
    color: white;
}
.for-couples2{
    position: absolute;
    top: 2918px;
    left: 1599px;
    font-size: 37px;
    color: white;
}
.clear{
	clear: both;
}
.video{
	  width: 100%;
	  min-height: 600px;
	  height: 1000px;
	  position:left;
	  overflow: hidden;
	  
	  margin: 0;
}
#trailer > video {
	position: absolute;
	left: 0;
	top:0;
	width: 1925px;
	height: 1000px;
	object-fit: cover;
	z-index: -1;
   
}
.price{
	height: 64px;
		padding-left: 42px;
	margin-top: 8px;
}
.salon{
        height: 64px;
    padding-left: 42px;
    margin-top: 22px;
}
.salon a{
	color: #515151;
	font-size: 21px;
	margin-right: 52px;
	text-decoration: none;
}
.price a{
	color: #515151;
	font-size: 21px;
	margin-right: 52px;
	text-decoration: none;
}
.name2{
    font-size: 35px;
        margin-bottom: 21px;
}
.name-girl{
	font-size: 36px;
	color: #fff;
}
.about{
	font-size: 18px;
	color: #fff;
	display: block;
	margin-bottom: 12px;
}
.info{
	position: absolute;
	top: 1541px;
	width: 560px;
	height: 130px;
	
}
.info3{
	position: absolute;
	top: 590px;
	width: 560px;
	height: 130px;
	
}
.info2{
	position: absolute;
	top: 2123px;
	width: 560px;
	height: 130px;
	
}
.info4{
	position: absolute;
	top: 1170px;
	width: 560px;
	height: 130px;
	
}
.more-girls{
	width: 100%;
	height: 100px;
	clear: both;
		padding-top: 23px;
}
.more-girls-btn{
	width: 200px;
	height: 50px;
	border-color: #b48943;
	border-style: solid;
	color: #b48943;
	background: none;
	border-width: 1px;
	font-size: 18px;
	
}
button{
	width: 200px;
	height: 45px;
	background-color: hsla(200,0%,90%, 0.5);
	border-color: #b48943;
	border-style: solid;
	color: #fff;
}
.block-wrap{
	width: 1140px;
	float: left;
    text-align: left;
    margin-right: 20px;
    height: 413px;
    border-right: 1px solid #b48943;
        margin-top: 85px;
}
.answer{
	float: left;
	width: 560px;
    margin-top: 82px;
}
.reviews p{
    margin-top: 0
}
.reviews{
	padding-left: 100px;
	padding-right: 100px;
	height: 567px;
}

input{
	 height: 46px;
    width: 558px;

    display: block;
    margin-bottom: 20px;
    border-color: #b48943;
    border-style: solid;
    color: #b48943;
    background: none;
    border-width: 1px;
    margin-top: 10px;
}
.submit{
    height: 46px;
    width: 200px;
    display: block;
    margin-bottom: 20px;
    border-color: #b48943;
    border-style: solid;
    color: #b48943;
    background: none;
    border-width: 1px;
    margin-left: 178px;
        font-size: 17px;
    margin-top: -4px;
}
textarea{
	   width: 555px;
    height: 189px;
	margin-bottom: 35px;
	border-color: #b48943;
	border-style: solid;
	border-width: 1px;
}
.logo-footer{
    width: 162px;
        margin-top: 30px;
    margin-bottom: 23px;
}
.footer{
    background:#242424;
    clear: both;
    height: 250px;
}
.top-nav-wrap{
    clear: both;
}
footer nav li a{
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    font-family:'Gotham Pro';
    color: #FFF;
}
footer nav li{
    list-style-type: none; /* Убираем маркеры */
    
}
.footer_social{
    color: white;
    margin-bottom: 11px;
}
.footer_social>p{
        display: block;
    float: left;
}
.social_btn>img{
     width: 30px;
}
.social_btn_wa{
    width: 35px;
    margin-right: 33px;
}
.one{
    margin-left: 790px;
    margin-right: 50px;
}
.indicator a{
    color: #bd985c;
    font-size: 18px;
    font-weight: bold;
}
.active {
	color: #bd985c;
    font-size: 18px;
}
.header-table{
    width: 200px;
}
table{
    padding-top: 29px;
        margin-bottom: 40px;
}
th{
        border-right: 1px solid #bd985c;
}
tr{
    height: 30px;
    border-bottom: 1px solid #bd985c;
}
td{
      font-size: 17px;
    font-weight: bold;
    padding-left: 20px;
    padding: -24px;
    text-align: left;
    height: 30px;
    border-top: 1px solid #bd985c;
    border-right: 1px solid #bd985c;
}
td:last-child{
    border-right: none;
    border-bottom: none;
    border-top: 1px solid #bd985c;
}
td>a{
        color: #242424;
}