html{
	overflow-x: hidden;
}
body{
    max-width: 1920px;
}
@media (max-width: 1300px) and (min-width: 1200px) {
	.languageName{
		display: none;
	}
}

@media (min-width: 1201px) {
	.page-main .nav-item a, .page-main .nav-item span{
		color: white !important;
	}
}
@media (max-width: 1200px) {	
	.sidebar{
		background: rgba(255,255,255,0.85) !important;
	}
	.page-main .navbar-toggler{
		background-color: inherit;
	}
	.page-main .navbar-nav{
		background: rgba(255,255,255,1)!important;
	}
	.nav-item a, .nav-item span{
		color: black !important;
	}
      nav li{
	/*margin:0 0.5em;*/
        margin: 3px 0.5em;
    }
    nav li:last-child{
        margin-bottom: 5%;
    }
    .navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    }
	
	.inlineShow{
		margin-left: -1%;
	}
	button:focus {
		outline: none;
	}
	.card-title, .card-title2 {
		margin-top: 55% !important;
	}
	.card-for-couples .card-title, .card-for-men{
		margin-top: 40% !important;
	}
	footer nav{
		display: none !important;
	}
    .card-title2{
        margin-top: 40% !important;
    }
    .card-title3{
        margin-top: -10% !important;
    }
}

@media (max-width: 992px) {
	.card-title {
		margin-top: 68% !important;
	}
    .card-title2 {
		margin-top: 37% !important;
	}
    .card-title3 {
		margin-top: -22% !important;
	}
    
}
@media (min-width: 400px) and (max-width: 500px){
	.card-title {
		margin-top: 58% !important;
	}
    .card-title2 {
		margin-top: 40% !important;
	}
    .card-title3 {
		margin-top: -16% !important;
	}
}
@media (min-width: 615px) and (max-width: 900px){
	.card-title {
		margin-top: 68% !important;
	}
    h5{
        font-size: 4vw !important;
    }
    p{
        font-size: 3vw !important;
    }
    button{
        font-size: 3vw !important;
    }
    .card-title2 {
		    margin-top: 45% !important;
    font-size: 7vw;
	}
    .card-title3 {
        margin-top: 0% !important;
        font-size: 7vw;
	}
}
@media (max-width: 400px) {
	.card-title {
		margin-top: 58% !important;
	}
}
@media (min-width: 300px) and (max-width: 350px) {
	.card-title {
		margin-top: 41% !important;
	}
    .card-for-couples{
        margin-top: 34% !important;
    }
    .card-title2 {
		margin-top: -22% !important;
	}
    .card-title3 {
		margin-top: -50% !important;
	}
}



/*video responsive*/

#video-viewport { margin-top: -4%; position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; z-index: -1; max-width: 1920px; }
video { display: block; width: 100%; height: auto; max-width: 1920px;}

.fullsize-video-bg { height: 100%; overflow: hidden; }

.fullsize-video-bg:before { content: ""; background: rgba(114,45,0,.35); position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; }
.fullsize-video-bg:after { content: ""; background-image: url(../images/1.jpg) !important; background-size: 3px 3px; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; }


.fullsize-video-bg .inner { display: table; width: 100%; max-width: 24em; max-width: 1920px; height: 100%; margin: 0 auto; padding: 0; position: relative; z-index: 2; text-shadow: 0 1px 5px rgba(0,0,0,.5); }
.fullsize-video-bg .inner > div { text-align: center; display: table-cell; vertical-align: middle; padding: 0 2em; }


.videoMargin{
	height: 51vw;
}

/*video responsive*/

.videoMargin{
	border: none !important;
}
.inlineShow a{
	margin-left: 1em;
}

.row{
	margin-left: 0;
	margin-right: 0;

}
.navbar{
    padding: 0 7%;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(../images/menu/burger.svg);
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    margin-top: 5%;
}
.navbar-light .navbar-nav .nav-item .nav-link{
	font-family:'Gotham Pro';
	color: #242424;
	cursor:pointer;
}
.navbar-dark .navbar-nav .nav-item .nav-link{
	color: white;

}
.navbar-dark .navbar-toggler, .navbar-toggler:focus{
	border: none !important;
}
.nav-item a {
	position: relative;
}
.nav-link-black{
	color:black;
}

.nav-item a:after{
	display: block;
	content: "";
	background-color: rgb(189, 152, 92);
	height: 1px;
	top: 99%;
	width: 0%;
	left: 50%;
	position: absolute;
	-webkit-transition: width .5s ease-out;
	-moz--transition: width .5s ease-out;
	-o-transition: width .5s ease-out;
	transition: width .5s ease-out;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(50%);
	/*transform: translateX(-50%);*/
    max-width: 1920px;
}
.card-title3  a:after{
	display: block;
	content: "";
	background-color: rgb(189, 152, 92);
	height: 1px;
	top: 99%;
	width: 0%;
	left: 50%;
	position: absolute;
	-webkit-transition: width .5s ease-out;
	-moz--transition: width .5s ease-out;
	-o-transition: width .5s ease-out;
	transition: width .5s ease-out;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(50%);
	/*transform: translateX(-50%);*/
}
.nav-item a:hover, .card-title3  a:hover :not(.social-btn-hdr, .social_btn_tg, .social_btn_wa, .social_btn_gl){
	border-bottom: 1px solid rgb(189, 152, 92);
}
.nav-item a:hover:after, .card-title3  a:hover:after{
	width: 100%;
}
.social-btn-hdr a:hover:after, .card-title3 a:hover:after{
	width: 0%;
}
.nav-inline-item{
	margin-left: 1em;
}
.active{
	border-bottom: 1px solid rgb(189, 152, 92);
}
.navbar-color a{
	color: white !important ;
}

.social-btn-hdr a{
	color: black !important;
	text-decoration: none;
}
.social-btn-hdr{
	padding-top: 0.3em;
}
.dropdown-eng{
	color: white;
}

.languageName{
	color: black;
}
.page-main .languageName{
	color: white;
}
.black{
	color: black;
}
.dropdown-eng .ul-dropdown-eng{
	position: absolute;
	top: 100%;
	left: -5px;
	right: 0px;
	background: white;
	/*transition: all 0.3s ease-out;*/
	list-style: none;

	opacity: 0;
	pointer-events: none;
}
.dropdown-eng .ul-dropdown-eng li a{
	display: block;
	text-decoration: none;
	color: #333;
	border-left: 5px solid;
	padding: 10px;
	/*transition: all 0.3s ease-out;*/
}
nav{
	z-index: 100;
	white-space: nowrap;
    
}
header nav div{
	padding-left: 20%;
	margin-top: 1em;
}
@media (max-width: 1660px) {
	header nav div{
		padding-left: 0%;
	}
}
nav li{
	margin:0 0.5em;
}

.dropdown {
	position: relative;
	display: inline-block;
}
.page-main .dropdown-content {
	background: none;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	padding: 2px 0px;
	z-index: 1;
	top: 36px;
	left: -50%;
	text-align: center;
    max-width: 1920px;
}
.dropdown-content li{
	margin:1em 1em;
	list-style-type: none;
}
.dropdown:hover .dropdown-content{
	display: block;
}

.aboutPage{
	margin: 4em 0;
}
.about{
	-o-object-fit: cover;
	   object-fit: cover;
	max-width: 100%;
    max-width: 1920px;
}
.navbar-toggler{
	float: right;
}
footer{
	background: #242424;
	text-align: center;
	color: white;
	z-index: 1000;
}
footer img{
	margin: 2em auto;
}
footer .navbar-collapse ul{
	margin:0 auto;
}
.one{
	min-width: 11vw;
    max-width: 1920px;
}
section img{
	width: 1.5em;
	margin: 0 1.5em 1.5em 1.5em ; 

}
.nav-link{
	color:white;
}
h5{
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	color:rgb(189, 152, 92);
	display:block;
	font-family:"Gotham Pro";
	font-size:22px;
	font-weight:400;
}
p{
	font-family:"Gotham Pro";
	font-size:14px;
}
a:hover{
	text-decoration: none;
	color: inherit;
}
.col a{
	color: white;
	text-decoration: none;
}
/*SERTIFICATE PAGE*/



.certificate{
	margin-top: 3.5em;
	margin-bottom: 3em;
}
.ul-certificate {
	list-style-type: none;
}
.ul-certificate li a{
	color:rgb(36, 36, 36);
	cursor:pointer;
	font-family:"Gotham Pro";
}
.ul-certificate li .tenHours{
	color:rgb(189, 152, 92);
	cursor:pointer;
	font-family:"Gotham Pro";
	font-size:18px;
}
h6{
	color:rgb(189, 152, 92);
	font-family:"Gotham Pro";
	font-size:17px;
}
.buy-btn button{
	color:rgb(189, 152, 92);
	background: white ;
	font-family:"Gotham Pro";
	font-size:18px;
	border: 1px solid rgb(189, 152, 92);
	padding: 1rem 3rem;
}
.buy-btn button:hover{
	color:white;
	background: rgb(189, 152, 92) ;
}



/*POPUP*/
.popup-inp{
	text-align: center;
}
.popup-inp input{
	display: inline-block;	
	color:rgb(189, 152, 92);
	background: white ;
	font-family:"Gotham Pro";
	font-size:18px;
	border: 1px solid rgb(189, 152, 92);
	padding: 1rem 3rem;
	margin: 0.8rem;
}
.popup-input{
	width: 80%;
    max-width: 1920px;
}
.modal-title{
	text-align: center;
}

/*CONTACT PAGE*/

.contact{
	margin:4em 0;
}
h4{
	color:rgb(189, 152, 92);
	font-family:"Gotham Pro";
	font-size:16px;
}
.requisites{
	margin-top: 20vh;
}
.info-contact{
	line-height: 1.25;
}

/*GIRL PAGE*/

.girl{
	margin:2em 0;
}
h3{
	color:rgb(189, 152, 92);
	font-family:"Gotham Pro";
	font-size:35px;
}
.data{
	color:rgb(189, 152, 92);
	font-family:"Gotham Pro";
	font-size:19px;
} 
.param{
	display: inline-block;
}
.jobTime{
	border-bottom-color:rgb(204, 153, 51);
	border-bottom-style:solid;
	border-bottom-width:1px;
	color:rgb(189, 152, 92);
	cursor:pointer;
	display:inline;
	font-family:"Gotham Pro";
	font-size:18px;
	height:auto;
	padding-bottom:9px;
}



/*GIRLS PAGE*/	

.girls{
	margin: 2em 0;
}
.price a{
	color: #242424;
	cursor:pointer;
	font-family:"Gotham Pro";
	font-size:18px;
	padding: 0 2em;
}
.name-girl{
	color:rgb(255, 255, 255);
	display:inline;
	font-family:"Gotham Pro";
	font-size:36px;
}
.girls .about{
	color:rgb(255, 255, 255);
	display:block;
	font-family:"Gotham Pro";
	font-size:18px;
	height:21px;
	margin-bottom:12px;
}
.girls button{
	background-color:white;
	border-color:rgb(180, 137, 67);
	border-style:solid;
	border-width:2px;
	cursor:default;
	font-family:Arial;
}
.info3{
	text-align: center;
	margin-top: -30%;
	width: 100%;
    max-width: 1920px;
}
.more-girls{
	text-align: center;
	margin-top: 2.8em;
}
.more-girls-btn{
	margin: 0 0 2em 0;
}
.forBoth{
	width: 100vw;
	height: auto;
    max-width: 1920px;
}
.review{
	margin: 2em 0;
}
.scroll{

	overflow-y: scroll;
}
.review form{
}
.form{
	display: block;
	margin: 2em auto;
}
.button{
	height: 46px;
	width: 200px;
	background: #fff;
	border-color: #b48943;
	border-style: solid;
	color: #b48943;
    max-width: 1920px;
}

/*INTERIOR PAGE*/
.interior{
	margin-bottom: 3em;
}
.salon {
	padding: 0 auto;
	height: 64px;
	margin: 2em 0;
	text-align: center;
}
.salon a{
	text-decoration: none;
	width: 20vw;
	color:rgb(81, 81, 81);
	cursor:pointer;
	font-family:"Gotham Pro";
	font-size:21px;
	margin-right: 20px;
    max-width: 1920px;
}
.cnt_slider{
	margin: 0 auto;
	display: inline-block;
	width: 1725px;
	margin-bottom: 237px;
    max-width: 1920px;
}

#sm_slider {
	height: 663px;
	position: relative;
	width: 1725px;
    max-width: 1920px;
}
.sm_slider {
	height: 663px;
	margin: 25px 25px 0px;
	position: relative;
	width: 1725px;
    max-width: 1920px;
}
.sm_slider ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.sm_slide {
	color: #3d3d3d;
	display: none;
	font-size: 100px;
	height: 663px;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	visibility: hidden;
	width: 100%;
    max-width: 1920px;
	padding-left: 0px;
}
.sm_slide.active {
	display: block;
	visibility: visible;
}
.sm_slide img {
	max-width: 100%;
    max-width: 1920px;
}

.sm_prev,
.sm_next {
	width: 25px;
	height: 25px;
	margin: -20px 0 0 0;
	cursor: pointer;
	display: block;
	font-style: normal;
	opacity: .3;
	position: absolute;
	top: 50%;
	z-index: 999;
	border-style: solid;
	border-color: #4e4e4e;
	border-width: 0px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.sm_prev {
	border-left-width: 3px;
	border-top-width: 3px;
	left: 10px;
}
.sm_prev:hover {
	opacity: 1;
}

.sm_next {
	border-right-width: 3px;
	border-bottom-width: 3px;
	right: 10px;
}
.sm_next:hover {
	opacity: 1;
}
/*blog PAGE*/
.text-blog{
	border-bottom: 1px solid rgb(189, 152, 92);;
}


/*SERVICE PAGE*/

.service{
	margin: 2em 0;
}
.first{
	color:rgb(189, 152, 92) !important;
	font-size: 18px;
}
.text-service span, .text-blog span{
	color:rgb(189, 152, 92);
	display:inline;
	font-family:"Gotham Pro";
	font-weight:700;
}
.hour-price{

	font-weight:700;
}
.service li{
	cursor:pointer;
	font-family:"Gotham Pro";
	height:auto;
	list-style-type:none;

}
.service a{
	color:rgb(36, 36, 36);
} 
.last-li{
	padding-bottom: 1.5em;
}
.indicator a{
	color:rgb(189, 152, 92);
	cursor:pointer;
	font-family:"Gotham Pro";
	font-size:18px;
	font-weight:700
}

/*VACANCY PAGE*/


.vacancy{
	margin: 4em auto;
}
.color{
	color:#bd985c;
	display: inline-block;
}





/*FORM*/
.form{
	background: #fff;
	border: 1px solid rgb(180, 137, 67)
}
.wform{
	width: 100%;
    max-width: 1920px;
}
form input{
	height: 3em;
	min-width: 30%;
    max-width: 1920px;
}


/*INDEX PAGE*/

.for-couples{
	margin-top: 8em;
}

.for-clients span{
	display: block;	
}
@media (max-width: 600px) {
	.for-clients .card-title2{
		margin-top: 30%;

	}
	.for-couples{
		margin-top: 3em;
	}
}
@media (max-width: 900px) {
	.choose a{
		font-size: 4vw !important;
		display: inline-block;
	}
	.our-girls{
		margin-right: 20%;
	}
	
}
.for-couples .for-clients .card{
	padding: 0 !important;
}

.for-clients .card-title2{
	margin-top: 48%;
}
.for-clients .card-title2 a, .for-clients .card-title3 a{
	text-decoration: none;
	color: white;
}
.img-fluid{
    margin-top: 4%;
}

.card{
	margin: 1em 0;
	border: none !important;
}

.card-title, .card-title2, .card-title3{
	color: white ;
	margin-top: 60%;
}
.card-title3{
	color: white ;
	margin-top: 45%;
}
.card button{
	color:white;
	background-color: hsla(200,0%,90%, 0.5);       
	font-family:"Gotham Pro";
	
	border: 1px solid rgb(189, 152, 92);
	min-width: 85%;
	height: 13%;
    max-width: 1920px;
}
.card-img {
    width: 100%;
    max-width: 1920px;
    border-radius: 0;
}
.card-img-overlay{
	text-align: center;
}
.card-for-men{
	text-align: left;
	top: 10;
	padding: 3.25rem;
}
.card-for-couples{
	text-align: right;
	top: 10;
	padding: 3.25rem;
}

.choose{
	margin: 2.5em 0 1.5em 0;
}
.choose a{	
	text-decoration: none;
	white-space: nowrap;
	text-align: center;
	color:rgb(81, 81, 81);
	cursor:pointer;
	font-family:"Gotham Pro";
	font-size: 1.5vw;
}
.choose-item{
	text-align: center;
}
.for-clients{
	margin-top: -9%;
	margin-bottom: 5em;
	position: static;
}

.for-men a , .for-couples a{
	text-decoration: none;
}
.for-men a p{
	color: white;
	/*text-decoration: none;*/
	text-align: center;
	font-family: 'Gotham Pro';
	font-weight: 400;
	line-height: 1em;
	white-space: nowrap;
}


/*SCHEDULE PAGE*/

.schedule{
	margin: 2em 0;
}

table .link a{
	text-decoration: none !important;
	color: black;
}
td,th{
	text-align: center;
}



td, th{
	border: 1px solid #bd985c !important;
}

thead th {
	border-top: 0 !important;
}
tbody tr th, thead tr th{
	border-left: 0 !important;
}
table tr:last-child td, tbody:last-child th {
	border-bottom: 0 !important;
}
table tr td:last-child, thead tr th:last-child {
	border-right: 0 !important;
}

/*ASIDE*/
.aboutPage{
    width: 100%;
    padding: 0 7%;
    max-width: 1920px;
}
.wrapper{
    width: 100%;
    padding: 0 7%;
    max-width: 1920px;
}

/*Position and style for the sidebar*/ 

.sidebar { 
	padding-top: 2em;
	position: absolute; 
	/*Stays in place */ 
	background-color: rgba(255,255,255,1) !important; 
	/*green*/ 
	overflow-x: hidden; 
	/*for Disabling horizontal scroll */ 
} 
/* Position and style for the sidebar links */ 

.sidebar a { 
	padding: 10px 10px 10px; 
	color: #111; 
	display: block; 
	-webkit-transition: 0.3s; 
	-o-transition: 0.3s; 
	transition: 0.3s; 
} 
/* the links change color when mouse hovers upon them*/ 

.sidebar a:hover { 
	color: #bd985c; 
} 
/* Position and style the for cross button */ 

.sidebar .closebtn { 
	position: absolute; 
	top: 0; 
	right: 25px; 
	display: none;
} 
/* Style for the sidebar button */ 

.openbtn { 
	color: #111; 
	padding: 10px 10px 10px; 
	margin-bottom: 1em;
	border: none; 
        margin-top: 1em;
} 
        /* the sidebar button changes  
        color when mouse hovers upon it */ 
        

      /* pushes the page content to the right 
      when you open the side navigation */ 

      #main { 
      	margin-left: 20vw;
      	-webkit-transition: margin-left .5s;
      	-o-transition: margin-left .5s;
      	transition: margin-left .5s; 
      	/* If you want a transition effect */ 
      	padding: 10px; 
      } 
      .withSideBar .buy-btn{
      	text-align: center;
      	margin-bottom: 2em;
      }

      @media (max-width: 1200px){
      	.sidebar{
      		width: 0;
      		min-width: 0; 
      	}
      	#main{
      		margin-left: 0;
      	}
      	.sidebar .closebtn { 
      		display: block;
      	}
      	.openbtn{
      		display: block;
      	}
      }
      @media (min-width: 1200px){
      	.sidebar{
      		width: 20vw;
      		min-width: 250px;
      	}
      	#main{
      		margin-left: 20vw;
      	}
      	.openbtn{
      		display: none;
      	}
      	.fixFooter footer{
      		margin-top: 20vh;
      	}
      }



.navbar-brand {
    display: inline-block;
    padding-top: 1.3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}


.text-white button :not(.img-one), .more-girls button{
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
.text-white button:hover, .more-girls button:hover{
 -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
     transform: scale(1.1);
 }